/*
Error: Undefined mixin 'fontsize'.
        on line 74 of sample.scss, in `fontsize'
        from line 74 of sample.scss

69: 
70:         a{
71:           color: #626262;
72:           text-decoration: none;
73:           font-weight: bold;
74:           @include fontsize(14);
75:           float: left;
76:           padding-right: 10px;
77:         }
78: 
79:         a:hover{

Backtrace:
sample.scss:74:in `fontsize'
sample.scss:74
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:352:in `block in visit_mixin'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/stack.rb:98:in `block in with_mixin'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/stack.rb:98:in `with_mixin'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:350:in `visit_mixin'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block (2 levels) in visit_rule'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `map'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block in visit_rule'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:432:in `visit_rule'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block (2 levels) in visit_rule'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `map'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block in visit_rule'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:432:in `visit_rule'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block (2 levels) in visit_rule'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `map'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block in visit_rule'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:432:in `visit_rule'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `map'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:516:in `visit_media'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block (2 levels) in visit_rule'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `map'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block in visit_rule'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:432:in `visit_rule'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `map'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:161:in `visit'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:10:in `visit'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/root_node.rb:36:in `css_tree'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/engine.rb:384:in `_render_with_sourcemap'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/engine.rb:301:in `render_with_sourcemap'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `each'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:294:in `watch'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/plugin.rb:109:in `method_missing'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/exec/sass_scss.rb:360:in `watch_or_update'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/exec/sass_scss.rb:51:in `process_result'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/exec/base.rb:52:in `parse'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/exec/base.rb:19:in `parse!'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/bin/sass:13:in `<top (required)>'
/usr/local/rvm/gems/ruby-2.4.1/bin/sass:23:in `load'
/usr/local/rvm/gems/ruby-2.4.1/bin/sass:23:in `<main>'
/usr/local/rvm/gems/ruby-2.4.1/bin/ruby_executable_hooks:15:in `eval'
/usr/local/rvm/gems/ruby-2.4.1/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'fontsize'.\A         on line 74 of sample.scss, in `fontsize'\A         from line 74 of sample.scss\A \A 69: \A 70:         a{\A 71:           color: #626262;\A 72:           text-decoration: none;\A 73:           font-weight: bold;\A 74:           @include fontsize(14);\A 75:           float: left;\A 76:           padding-right: 10px;\A 77:         }\A 78: \A 79:         a:hover{"; }
